:root {
  --h1: 5rem;
  --h2: 2.9rem;
  --h4: 2rem;
  --p: 1.2rem;

  --main-color: rgb(185, 46, 255);

  --h1-1550: 3rem;
  --h2-1550: 2rem;
  --p-1550: 1rem;

  --h1-980: 1.5rem;
  --h2-980: 1rem;
  --p-980: .8rem;

  --h1-320: 1.2rem;
  --h2-320: .8rem;
  --p-320: .5rem;
}
